<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="/css/styledash.css">
</head>
<body>
   <div>
      <div>
         <%- include('../nav.ejs') %> 
      </div>
      <div name="home" class="home">
         <div class="home_md"> WELCOME <%= name %> </div>
      </div>
    </div>
</body>
</html>