<!DOCTYPE html>
<html>
<head>
  <title>Add Post</title>
  <link rel="stylesheet" href="../styledash.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div> 
    <div> <%- include('nav.ejs') %> </div>
    <div name="home" class="home">
      <div class="formreg" style="margin-left: 25%; margin-top: 10%;">
        <form method="post" action="/post">
          <div class="form-head">ADD POST</div>
          <% if(msg) {%>
            <span class="successmsg"> <%= msg %> </span>
          <% } %>
          <div class="input-div">
            <input type="text" class="input-text" name="title" placeholder="Enter title" />
          </div>
          <div class="input-div">
            <textarea name="content" rows="10" cols="50" placeholder="Enter content"></textarea>
          </div>
          <div class="input-div">
            <input name="submit" class="div-btn" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>