<!DOCTYPE html>
<html>
 <head>
   <title>Dashboard</title>
   <link rel="stylesheet" href="../styledash.css">
 </head>
 <body>
    <div>
    <!--Home-->
   <div>
            
          <%- include('nav.ejs') %>
          
       </div>
    <div name="home" class="home">
       
            <div class="home_md">WELCOME <%= name %></div>
    </div>
    </div>
 </body>
</html>