<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../getpost.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div> <%- include('nav.ejs') %> </div>
  <div class="container">
    <% let flag = false;
    for(let i = 0; i < post.length; i++) { %>
    <div class="card w-75 ml-auto mr-auto mt-4">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h2><%= post[i].title %></h2>
          <p><%= post[i].content %></p>
          <form action="/like" method="post">
            <input type="hidden" name="id" value="<%= post[i]._id%>" />
            <%if(like.length) { 
              let flag =false; 
              like.some((ele) => {
                if(ele.postid == post[i]._id && ele.userid == user.id && ele.like == true) {
                   flag=true;
                } 
              }); 
              if(flag) { %>
            <button name="like" value="Unlike" type="submit">Unlike</button>
            <% }
              else { %>
            <button name="like" value="Like" type="submit">Like</button>
            <% } 
            }
            else {%>
            <button name="like" value="Like" type="submit">Like</button>
            <% } %>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</body>
</html>