<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body> 
    <div class="container">
      <div class="container-form">
        <div class="formreg">
          <form method="post" action="/login">
            <div class="form-head">LOGIN FORM</div>
            <div class="input-div">
              <input type="email" class="input-text" name="email" placeholder="Enter your email"/>
            </div>
            <div class="input-div">
              <input type="password" class="input-text"   name="password" placeholder="Enter your password"/>
            </div>
            <div class="input-div">
              <input  name="submit" class="div-btn" type="submit" value="Login"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>