<html>

<head>
  <link rel="stylesheet" type="text/css" href="../nav.css">
</head>

<body>

  <ul>
    <div>
      <li><a href="#home" class="navbar-brand">Blog </a></li>
    </div>
    <div class="content-right">
      <li><a class="active" href="dashboard.ejs">Home</a></li>
      <li><a href="/post">AddPost</a></li>
      <li><a href="/post">ViewPost</a></li>
      <li><a href="">Logout</a></li>
    </div>

  </ul>

</body>

</html>