<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../nav.css">
</head>
<body>
  <ul>
    <div>
      <li><a href="#home" class="navbar-brand">Blog </a></li>
    </div>
    <div class="content-right">
      <li><a class="active" href="/dash">Home</a></li>
      <li><a href="/post">AddPost</a></li>
      <li><a href="/posts">ViewPost</a></li>
      <li><a href="/logout">Logout</a></li>
    </div>
  </ul>
</body>

</html>