<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
	<div class="container">
		<div class="container-form" >
			<div class="formreg" style="height: 500px;">
				<form name="registration"  method="post" action="/register">
					<div class="form-head">CREATE ACCOUNT </div>
					<div class="input-div">
						<input type="text" class="input-text" name="name" tabindex="1" placeholder="Emter your name"/>
					</div>
					<div class="input-div">
						<input type="email" class="input-text" name="email" tabindex="2" placeholder="Email Id"/>
					</div>
					<div class="input-div">
						<input type="password" class="input-text" name="password" tabindex="3" placeholder="Enter your password"/>
					</div>
					<div class="input-div">
						<input type="text" class="input-text" name="role" tabindex="4" placeholder="Enter your role"/>
					</div>		
					<div class="input-div">
							<input type="submit" tabindex="5" class="div-btn" name="submit" value="REGISTER"/>
					</div>
					<div class="input-div">
						<a href="/login" style="text-decoration: none;">Sign in instead</a>
					</div>
				</form>		
			</div>
		</div>
	</div>
</body>
</html>